@model List<ApplicationCore.Models.TasksResponseModel>

@{
    ViewData["Title"] = "Home Page";
}


  


    <div class="rounded" style="width : 90%">
        <div class="container-fluid bg-light">
            <div class="row">
                @foreach (var tasksCard in Model)
                {
                    <div class="col-6">
                        <partial name="_TasksCard" model="tasksCard" />
                    </div>
                }
            </div>
        </div>
    </div>


